*{
	font-family: 'Source Sans Pro', sans-serif;
}
/* image caption overlay */
div.caption-on-overlay figure {
	position: relative;
	cursor: pointer;
	z-index: 1;
}
div.caption-on-overlay figure figcaption {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: auto;
	color: black !important;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 0 !important;
	padding-bottom: 5%;
	padding-top: 5%;
	transition:height 10s linear;
	font-weight: bold !important;
	text-transform: uppercase;
	z-index: 2
}
div.caption-on-overlay figure figcaption p {
	display:none;
	text-transform: none;
}
div.caption-on-overlay a {
	z-index: 3;
}
div.caption-on-overlay:hover figure figcaption {
	height: 100%;	
}

div.caption-on-overlay:hover figure figcaption p {
	display: block;
	font-weight: normal;
}
